<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


        <h1>Welcome to <%= title%> </h1>


       
        <p id="introPara">
            Hi, <br>I am Ripon and I am a student of Software Engeneraing Technolohy at Centennial College.
            I have completed my highschool at Danforth CTI in Totonto ON. I started photography from 2016 with a DSLR camera. By gradually
             improving myself over the years, I am here at this position. Please have a look at couple of my work. &#128522;</p>
             <hr>


    
             <%- include partials/bottom_nav.ejs %>  

             <%- include partials/footer.ejs %>